@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/normalize'

@import '../blocks/**/*'

.container
    padding 0 10px
    @media (min-width 1200px)
        padding 0
    max-width 1200px
    margin auto
    width 100%